@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --biscay-950: #1b3567;
    --aqua-green: #30c3b0;
    --color-blue: #64affa;
    --color-black: #121212;
  }
  html {
    font-family:
      "Rubik",
      system-ui sans-serif;
  }

  :root {
    --color-blue: #64affa, --color-black: #121212;
  }
}

.font-lilita {
  font-family: "Lilita One", cursive !important;
}

.font-inter {
  font-family: "Inter", cursive !important;
}
