.header {
  text-align: center;
}

.header__legend {
  font-family: "Inter";
  font-size: 32px;
  line-height: 1;
  color: #f3f3f199;
  font-weight: 400;
}

.header__title {
  font-family: "Lilita One";
  font-size: 120px;
  line-height: 1;
  color: #f3f3f1;
}
